In [1]:
import pandas as pd

In [2]:
file = 'Resources/stockdata.csv'
df = pd.read_csv(file)
df.head()

,Date,Symbol,Price Close,Price Open,Price High,Price Low,Volume,Name,Type
0,2019-06-06,BA,350.64,348.18,351.64,345.58,25822.59,Boeing Co,Manufaturer
1,2019-06-06,BA,350.64,348.18,351.64,345.58,NaN,Boeing Co,Manufaturer
2,2019-06-06,GD.N,171.98,171.93,172.57,169.74,2034.09,General Dynamics Corp,Manufaturer
3,2019-06-06,GD.N,171.98,171.93,172.57,169.74,NaN,General Dynamics Corp,Manufaturer
4,2019-06-06,NOC.N,314.82,316.78,317.13,314.40,1591.04,Northrop Grumman Corp,Manufaturer